In [22]:
import pandas as pd

In [35]:
df = pd.read_csv("data/genres_count_over_time.csv", names=["year", "genre", "count"], header=0)

In [36]:
df.head()

     year            genre  count
0  1893.0       Short Film      1
1  1893.0      Silent film      1
2  1893.0            Indie      1
3  1893.0  Black-and-white      1
4  1894.0       Short Film      2

In [37]:
df["year"] = df.apply(lambda x: int(x.year), axis=1)

In [38]:
df_pivoted = df.pivot(index="genre", columns="year", values="count")

In [48]:
df_pivoted.fillna(0, inplace=True)

In [49]:
df_pivoted.head()

year,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
genre,,,,,,,,,,,,,,,,,,,,,
Absurdism,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,4.0,3.0,4.0,2.0,1.0,0.0,0.0,0.0
Acid western,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,168.0,212.0,182.0,227.0,225.0,235.0,226.0,109.0,16.0,0.0
Action Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,1.0,8.0,6.0,4.0,4.0,0.0,0.0,0.0,0.0
Action Thrillers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,25.0,16.0,19.0,21.0,5.0,3.0,0.0,0.0,0.0

In [53]:
df_pivoted.apply(lambda x: x.apply(lambda y: int(y)), axis=1)

year,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
genre,,,,,,,,,,,,,,,,,,,,,
Absurdism,0,0,0,0,0,0,0,0,0,0,...,1,3,4,3,4,2,1,0,0,0
Acid western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,0,0,0,0,0,0,0,0,0,...,168,212,182,227,225,235,226,109,16,0
Action Comedy,0,0,0,0,0,0,0,0,0,0,...,6,1,8,6,4,4,0,0,0,0
Action Thrillers,0,0,0,0,0,0,0,0,0,0,...,14,25,16,19,21,5,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World History,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
World cinema,0,0,0,0,0,0,0,0,0,0,...,300,311,283,298,292,201,30,4,0,0
Wuxia,0,0,0,0,0,0,0,0,0,0,...,2,5,0,5,1,2,0,0,0,0
Z movie,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zombie Film,0,0,0,0,0,0,0,0,0,0,...,18,13,14,18,12,8,3,1,0,0